{{> header}}
<div class='dashboard'>
  <a
    href='/dashboard/newPost'
    class='btn btn-custom new-post-btn'
  >New Post</a>
</div>
<div class='dashboard'>
  {{#each posts as |post|}}
    <a href='dashboard/edit/{{post.id}}'>
      <h3
        id='{{post.id}}'
        data-id='{{post.id}}'
        class='dashboard-post'
      >{{post.title}}</h3>
    </a>
  {{/each}}
</div>

<script src='/js/dashboard.js'></script>