{{> header}}
<div id='container-3'>
  <form class='new-post'>
    <div class='form-group'>
      <label for='editPostTitle' class='title-id' id='{{id}}'>Title</label>
      <input
        type='text'
        class='form-control'
        id='editPostTitle'
        value='{{title}}'
      />
    </div>
    <div class='form-group'>
      <label class='content-id' for='editPostContent'>Content</label>
      <textarea
        class='form-control'
        id='editPostContent'
        rows='3'
      >{{content}}</textarea>
    </div>
    <button type='submit' id='editPostBtn' class='btn btn-custom wide-btn'>Edit
      Post</button>
    <button
      type='submit'
      id='deletePostBtn'
      class='btn btn-custom wide-btn'
    >Delete</button>
  </form>
</div>

<script src='/js/editpost.js'></script>