<div class="login">
  <h2>Sign Up</h2>
  <form class="signup-form">
    <div class="form-group">
      <label for="username-login">Username</label>
      <input
        type="text"
        class="form-control"
        id="username-login"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="form-group">
      <label for="password-login">Password</label>
      <input type="password" class="form-control" id="password-login" />
    </div>
    <button type="submit" class="btn btn-primary btn-custom">Submit</button>
    <h4 id="create-account">Already have an account?
      <a id="sign-in-btn" href="/login">Sign in</a></h4>
  </form>
</div>

<script src="/js/signup.js"></script>